<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.gleissner.decantra">

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="remove" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="remove" />

    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />

    <queries
        tools:node="remove" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

        <activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true"
            android:resizeableActivity="false"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
